@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: "Reem Kufi", sans-serif;
}

body{
    background-color: green;
}

/* input {
    padding: 10px;
} */

.left-container p {
    color: white;
}
.right-container p {
    color: white;
}

