@import "tailwindcss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'R';
}

body{
    background-color: black;
}
.left-container p {
    color: white;
}
.right-container p {
    color: white;
}

